#root {
    height: 1000px !important;
    text-align: center;
}

.write-title{
    color: black;
    background-color: white;
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
}

.write-simpleContent{
    color: black;
    background-color: white;
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
}

.write-content{
    color: black;
    background-color: white;
    width: 500px;
    height: 200px;
}

.write-address{
    right: 50px;
    position: relative;
    color: black;
    background-color: white;
    width: 400px;
}

.write-lat{
    right: 150px;
    position: relative;
    color: black;
    background-color: white;
    width: 200px;
}

.write-lng{
    right: 150px;
    position: relative;
    color: black;
    background-color: white;
    width: 200px;
}

.write-onSubmit{
    background-color: #1976d2;
    color: white;
}

.write-onReset{
    margin-left: 10px;
    background-color: #1976d2;
    color: white;
}


.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #45a049;
}