body {
    height: auto !important;
}

/* 모바일 */
@media only screen and (max-width: 600px) {
    .write-button {
        left: 300px;
        bottom: 100px;
        position: fixed;
        width: 40px;
        height: 40px;
        background-color: lightseagreen;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}

/* 일반 웹 */
@media only screen and (min-width: 600px) {
    .write-button {
        left: 1259px;
        position: fixed;
        bottom: 120px;
        width: 40px;
        height: 40px;
        background-color: lightseagreen;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}


.css-o69gx8-MuiCardMedia-root {
    border-radius: 5px;
}

.css-ag0gh4-MuiListItem-root {
    padding-bottom: 7px;
}

.MuiDivider-root {
    display: none;
}

/*이미지 사이즈*/
.MuiCardMedia-root {
    width: 50%;
}

/*제목 내용 별점*/
.MuiListItemText-root {
    position: relative;
    margin-top: 5%;
}

.cardCapter{
    display: flex;
}

.css-1t8w031-MuiPaper-root-MuiCard-root {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}


#root {
    background-color: #f1f3f5;
}