body {
    height: auto !important;
}

.write-button {
    left: 1109px;
    position: fixed;
    bottom: 120px;
    width: 40px;
    height: 40px;
    background-color: lightseagreen;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.css-o69gx8-MuiCardMedia-root {
    border-radius: 5px;
}

.css-ag0gh4-MuiListItem-root {
    padding-bottom: 10px;
}

.MuiDivider-root {
    display: none;
}

/*이미지 사이즈*/
.MuiCardMedia-root {
    width: 50%;
}

/*제목 내용 별점*/
.MuiListItemText-root {
    position: relative;
    margin-top: 5%;
}

.cardCapter{
    display: flex;
}

@media only screen and (max-width: 600px) {
    .MuiCardMedia-root {
        width: 50%;
        height: 50%;
    }

    .MuiCard-root {
        height: 200px;
        padding: 5%;
    }

    .MuiListItemText-root {
        position: relative;
        margin-top: 12%;
    }
}