.Item-container {
   
    margin: auto;
    padding: 10px;
    width: 90%;
    height: 170px; /* 원하는 너비로 조정 */
    cursor: pointer;  
   
  }
  
  .Item-header {
    margin-bottom: 10px;
  }
  
  .Item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .Item-text {
    flex: 1;
  }
  
  .Item-title {
    margin-bottom: 10px;
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 19pt;
  }
  
  .Item-info {
    display: flex;
   
    font-size: 0.9em; /* 글자 크기 조정 */
    margin-top: 10px;
    margin-left: 10px;
    font-size: 11pt;
  }
  .Item-tags {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em; /* 글자 크기 조정 */
    margin-top: 10px;
    margin-left: 12px;
    font-size: 13pt;
  }
  
  .Item-image {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    align-items: center;
  }

  
