
.body {
    padding: 2rem 0 0 0 ;
    font-family: 'Roboto', sans-serif;
}
.icon {
    width: 24px;
    height: 24px;
}
.post {
    border-bottom: 1px solid #e5e7eb;
    padding: 16px 0;
}
.post:last-child {
    border-bottom: none;
}
.post-title {
    font-weight: 500;
}
.post-meta {
    font-size: 0.875rem;
    color: #6b7280;
}
.post-comments {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: 500;
    color: #1f2937;
    position: relative;
    bottom: 27px;
}


/* 0607 헤더 버튼 */
.round-button {
    background-color: #1976D2; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    width: 80px;
    height: 80px;
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 50%; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin : 20px
}

.round-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.Item-icon{
  margin-left: 15px;
  font-size: 11pt;
  
}

.round-button.active { background-color: red; color: #fff; }

hr {
  color: 	#D3D3D3;
  opacity: 0.3;
}

.header{
    padding: 2rem 0 0 0 ;
}


.container {
    background-color: white;
}

/* 0604 페이지 버튼 페이징 */
.pagingBtn {
    padding-bottom: 7rem;
}





.tagList{
    background-color: aqua;
}
.selectedTagList{
    background-color: aquamarine;
}
