.Item-container {
   
    margin: auto;
    padding: 5px;
    width: 90%;
    height: 110px; /* 원하는 너비로 조정 */
    cursor: pointer;  
   

  }
  
.chatting {
  border-radius: 10px;
  border: solid black;
}
.chatting:hover {
  background-color: #f0f0f0;
}

  .Item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    
  }
  
  .Item-text {
    flex: 1;
  }
  
  .Item-title {
    vertical-align: middle;
    text-align: left;
    max-width: 450px;
    margin-left: 10px;  
    font-size: 12pt;
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
  }
  .Item-small-title{
    max-width: 250px;
  }
  .Item-info {
    display: flex;
   
    font-size: 0.7em; /* 글자 크기 조정 */
    margin-top: 10px;
    margin-left: 10px;
    /* font-size: 11pt; */
  }
  .Item-tags {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em; /* 글자 크기 조정 */
    margin-top: 2px;
    margin-left: 12px;
    font-size: 10pt;
  }
  
  .Item-image {
    width: 85px;
    height: 85px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding:5px
  }
  .Item-image img{
    width: 78px;
    height: 78px;
  }

  
