/* join.module.css */
.container {
    max-width: 30rem;
    margin: auto;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
}

.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
}

.title {
    color: #0b50ff;
    font-size: 1.125rem;
    font-weight: 700;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.iconButton {
    color: #6b7280;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.imageContainer {
    text-align: center;
    margin: 1rem 0;
}

.image {
    max-width: 100%;
    border-radius: 0.5rem;
}

.body {
    padding: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formGroup {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #f9fafb;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background: none;
    outline: none;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
}

.button {
    background-color: #0b50ff;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    flex: 1;
}

.button:hover {
    background-color: #1d4ed8;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}
