
.searchBar {
    background-color: white;
    color: black;
}

.search {
    height: 790px;
    padding-top: 2rem;
}

.front {
    background-color: white;
    position: relative;
    width: 97%;
    justify-content: center;
    display: flex;
}

@media only screen and (min-width: 600px) {
    .modal {
        position: fixed;
        top: 8%;
        left: 32%;
        width: 36%;
        height: 51%;
        background-color: white;
        padding: 10px;
        z-index: 100;
        border-radius: 10px;
        border: 1px solid #000;
    }
    .closeButton{
        height: 40px;
        display: flex;
        position: relative;
        background-color: black;
        left: 45%;
    }
}

@media only screen and (max-width: 599px) {
    .modal {
        position: fixed;
        top: 10%;
        width: 99%;
        height: 56%;
        background-color: white;
        padding: 10px;
        z-index: 100;
        border-radius: 10px;
        border: 1px solid #000;

    }
    .closeButton{
        display: flex;
        position: relative;
        background-color: black;
        left: 42%;
    }

}

.modal div {
    width: 100%;
    height: 100%;
}