.body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
}

.container {
    max-width:30rem;
    margin: auto;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    overflow: hidden;
}

.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
}

.title {
    color: #0b50ff;
    font-size: 1.125rem;
    font-weight: 700;
}

.icons {
    display: flex;
    align-items: center;
}

.iconButton {
    color: #6b7280;
}

.imageContainer {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.image {
    width: 100%;
    height: auto;
}

.body {
    padding: 1.5rem 0 4rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    font-size: 0.875rem;
    color: #6b7280;
}

.input {
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    color: #374151;
    background-color: white;
}

.submitButton {
    padding: 0.75rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #2563eb;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.link {
    font-size: 0.875rem;
    color: #3b82f6;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}