.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-item-container {
  display: flex;
  justify-content: center;
}

.product-item {
  display: flex;
  max-width: 800px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-info {
  flex-grow: 1;
  padding: 16px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-price {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.product-location {
  font-size: 14px;
  color: #888;
}

.product-interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-size: 14px;
  color: #888;
}

.product-interactions span {
  display: flex;
  align-items: center;
}

.product-interactions .like-count,
.product-interactions .chat-count {
  margin-left: 4px;
}

#header_content {
	display: flex;
 justify-content: right;
  align-items: center;
}

.search_input{
	width: 250px;
  padding: 10px;
  margin-left: 70px;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  background-color: #f2f3f6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button.filter-button {
  letter-spacing: 0.02125rem;
  border: none;
  border-bottom: 2px solid #D9D9D8;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.3s ease-in;
  color: #000;
}

.me-4 {
  margin-right: 1.5rem !important;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

.filter-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
}
