.iconsBar {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: #f9fafb;
}

.iconButtonColumn {
    flex-direction: column;

    /* 버튼 내부 텍스트 크기 줄이기 */
    font-size: 0.7rem;

    /* 버튼 크기 줄이기 */
    padding: 0.3rem 0.5rem;
}

.iconColumn {
    /* 아이콘 크기 줄이기 */
    font-size: 0.7rem;
}