.body {
    justify-content: center;
    margin: auto;
    background-color: white;
    border-radius: 0.5rem;
}

.title {
    text-align: center;
    color: #340bff;
    font-size: 1.125rem;
    font-weight: 700;
}

.title img {
    width: 35px;
}

.iframe {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    /* absolute는 부모가 relative일 때 부모를 따라간다. */
    position: relative;

     /* 16:9 비율 */
    padding-bottom: 56.25%;
}

.video {
    position: absolute;

    /* 부모에 맞게 꽉 채운다. */
    width: 100%;
    height: 100%;
}